In [1]:
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

In [3]:
data_2011 = pd.read_csv("20140812_matricula_unica_2011_20110430_PUBL.csv", sep=";", encoding = "ISO-8859-1")

In [2]:
data_2012 = pd.read_csv("20140812_matricula_unica_2012_20120430_PUBL.csv", sep=";", encoding = "ISO-8859-1")

In [4]:
data_2013 = pd.read_csv("20140808_matricula_unica_2013_20130430_PUBL.csv", sep=";", encoding = "ISO-8859-1")

In [5]:
data_2014 = pd.read_csv("20140924_matricula_unica_2014_20140430_PUBL.csv", sep=";", encoding = "ISO-8859-1")

In [6]:
data_2015 = pd.read_csv("20150923_matricula_unica_2015_20150430_PUBL.CSV", sep=";", encoding = "ISO-8859-1")

C:\Users\snmar\AppData\Local\Temp\ipykernel_29564\4045632279.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2015 = pd.read_csv("20150923_matricula_unica_2015_20150430_PUBL.CSV", sep=";", encoding = "ISO-8859-1")

In [7]:
data_2016 = pd.read_csv("20160926_matricula_unica_2016_20160430_PUBL.csv", sep=";", encoding = "ISO-8859-1")

C:\Users\snmar\AppData\Local\Temp\ipykernel_29564\2948309360.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2016 = pd.read_csv("20160926_matricula_unica_2016_20160430_PUBL.csv", sep=";", encoding = "ISO-8859-1")

In [8]:
data_2017 = pd.read_csv("20170921_matricula_unica_2017_20170430_PUBL.csv", sep=";", encoding = "ISO-8859-1")

C:\Users\snmar\AppData\Local\Temp\ipykernel_29564\1252825370.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2017 = pd.read_csv("20170921_matricula_unica_2017_20170430_PUBL.csv", sep=";", encoding = "ISO-8859-1")

In [9]:
data_2018 = pd.read_csv("20181005_Matrícula_unica_2018_20180430_PUBL.CSV", sep=";", encoding = "ISO-8859-1")

C:\Users\snmar\AppData\Local\Temp\ipykernel_29564\2114943873.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2018 = pd.read_csv("20181005_Matrícula_unica_2018_20180430_PUBL.CSV", sep=";", encoding = "ISO-8859-1")

In [10]:
data_2019 = pd.read_csv("20191028_Matrícula_unica_2019_20190430_PUBL.CSV", sep=";", encoding = "ISO-8859-1")

C:\Users\snmar\AppData\Local\Temp\ipykernel_29564\883313727.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2019 = pd.read_csv("20191028_Matrícula_unica_2019_20190430_PUBL.CSV", sep=";", encoding = "ISO-8859-1")

In [11]:
data_2020 = pd.read_csv("20200921_Matrícula_unica_2020_20200430_WEB.CSV", sep=";", encoding = "ISO-8859-1")

C:\Users\snmar\AppData\Local\Temp\ipykernel_29564\3308133875.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2020 = pd.read_csv("20200921_Matrícula_unica_2020_20200430_WEB.CSV", sep=";", encoding = "ISO-8859-1")

In [12]:
data_2021 = pd.read_csv("20210913_Matrícula_unica_2021_20210430_WEB.CSV", sep=";", encoding = "ISO-8859-1")

C:\Users\snmar\AppData\Local\Temp\ipykernel_29564\61947991.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2021 = pd.read_csv("20210913_Matrícula_unica_2021_20210430_WEB.CSV", sep=";", encoding = "ISO-8859-1")

In [13]:
data_2022 = pd.read_csv("20220908_Matrícula_unica_2022_20220430_WEB.CSV", sep=";", encoding = "ISO-8859-1")

C:\Users\snmar\AppData\Local\Temp\ipykernel_29564\2530088285.py:1: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2022 = pd.read_csv("20220908_Matrícula_unica_2022_20220430_WEB.CSV", sep=";", encoding = "ISO-8859-1")

In [14]:
lista_dataframes = [data_2011, data_2012, data_2013, data_2014, data_2015, data_2016, data_2017, data_2018, data_2019, data_2020, data_2021, data_2022]

In [29]:
ano_partida = 2011
resumen_matricula  = None
for data in lista_dataframes:
    
    if ano_partida == 2011:
        data = data[data["edad_alu"] <= 18]
        conjunto_total = data.groupby("nom_rbd").count()["agno"]
        conjunto_total = pd.DataFrame(conjunto_total)
        conjunto_total= conjunto_total.reset_index()
        conjunto_total.rename(columns={"agno" : f"{ano_partida}", "nom_rbd": "NOM_RBD"}, inplace = True)
        resumen_matricula = conjunto_total.copy()
        ano_partida += 1
    elif ano_partida == 2012:
        data = data[data["edad_alu"] <= 18]
        grupo = pd.DataFrame(data.groupby("nom_rbd").count()["agno"])
        valores = grupo.reset_index()
        valores.rename(columns={"agno":f"{ano_partida}", "nom_rbd":"NOM_RBD"}, inplace = True)
        resumen_matricula = pd.merge(resumen_matricula, valores, on= "NOM_RBD", how = "left")
        ano_partida += 1
    elif ano_partida == 2017:
        print(ano_partida)
        data["edad_alu"] = data["edad_alu"].replace(" ", 200)
        data["edad_alu"] = data["edad_alu"].astype(np.int64())
        data = data[data["edad_alu"] <= 18]
        grupo = pd.DataFrame(data.groupby("nom_rbd").count()["agno"])
        valores = grupo.reset_index()
        valores.rename(columns={"agno":f"{ano_partida}", "nom_rbd":"NOM_RBD"}, inplace = True)
        resumen_matricula = pd.merge(resumen_matricula, valores, on= "NOM_RBD", how = "left")

        ano_partida += 1
    elif 2016 > ano_partida > 2012:
        print(ano_partida)
        data["EDAD_ALU"] = data["EDAD_ALU"].replace(" ", 200)
        data["EDAD_ALU"] = data["EDAD_ALU"].astype(np.int64())
        data = data[data["EDAD_ALU"] <= 18]
        grupo = pd.DataFrame(data.groupby("NOM_RBD").count()["AGNO"])
        valores = grupo.reset_index()
        valores.rename(columns={"AGNO":f"{ano_partida}"}, inplace = True)
        resumen_matricula = pd.merge(resumen_matricula, valores, on= "NOM_RBD", how = "left")

        ano_partida += 1
    elif ano_partida == 2016:
        print(ano_partida)
        data["edad_alu"] = data["edad_alu"].replace(" ", 200)
        data["edad_alu"] = data["edad_alu"].astype(np.int64())
        data = data[data["edad_alu"] <= 18]
        grupo = pd.DataFrame(data.groupby("nom_rbd").count()["ï»¿agno"])
        valores = grupo.reset_index()
        valores.rename(columns={"ï»¿agno":f"{ano_partida}", "nom_rbd":"NOM_RBD"}, inplace = True)
        resumen_matricula = pd.merge(resumen_matricula, valores, on= "NOM_RBD", how = "left")


        ano_partida += 1
    
    elif ano_partida > 2017:
        print(ano_partida)
        data["EDAD_ALU"] = data["EDAD_ALU"].replace(" ", 200)
        data["EDAD_ALU"] = data["EDAD_ALU"].astype(np.int64())
        data = data[data["EDAD_ALU"] <= 18]
        grupo = pd.DataFrame(data.groupby("NOM_RBD").count()["ï»¿AGNO"])
        valores = grupo.reset_index()
        valores.rename(columns={"ï»¿AGNO":f"{ano_partida}"}, inplace = True)
        resumen_matricula = pd.merge(resumen_matricula, valores, on= "NOM_RBD", how = "left")
        ano_partida += 1

resumen_matricula

2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

,NOM_RBD,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,ABRAHAM LINCOLN MEMORIAL COLLEGE,295,292.0,269.0,286.0,263.0,260.0,267.0,269.0,273.0,273.0,270.0,257.0
1,ABRAHAM LINCOLN SCHOOL,605,607.0,621.0,599.0,577.0,575.0,589.0,606.0,685.0,764.0,764.0,756.0
2,ACADEMIA IQUIQUE BULNES,1015,1036.0,993.0,1000.0,1047.0,1036.0,1020.0,NaN,NaN,NaN,NaN,NaN
3,ACADEMIA IQUIQUE HOSPICIO,1108,932.0,912.0,1027.0,1087.0,1097.0,NaN,NaN,NaN,NaN,NaN,NaN
4,ACADEMIA NERUDIANA,142,152.0,153.0,153.0,147.0,162.0,160.0,170.0,170.0,176.0,172.0,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11030,WASHINGTON CENTER LA FLORIDA,353,323.0,387.0,429.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11031,WEXFORD COLLEGE N 2,210,193.0,208.0,190.0,165.0,175.0,152.0,163.0,150.0,180.0,182.0,178.0
11032,WINDMILL COLLEGE,153,128.0,NaN,452.0,483.0,483.0,471.0,482.0,459.0,442.0,456.0,420.0
11033,WINDMILL COLLEGE ANEXO,453,331.0,449.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11034,YIRE LICEO POLITECNICO DE COIHUECO,337,349.0,364.0,364.0,399.0,419.0,463.0,477.0,491.0,494.0,495.0,490.0

In [31]:
resumen_matricula.to_csv("resumen matriculas", sep=";")