In [1]:
import pandas as pd
import numpy as np

In [2]:
ingreso_promedio = pd.read_excel("ingreso-medio-mensual-por-región-2010---2021.xlsx")

In [3]:
ingreso_promedio

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Cuadro 1: Ingreso medio nominal a nivel nacion...,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Año,Región,Ingreso medio nominal ($),Intervalo de confianza inferior ($),Intervalo de confianza superior ($),Evaluación de calidad
3,NaN,2010,Nacional,380807.9228,368092.156432,393523.689167,fiable
4,NaN,2010,Región de Arica y Parinacota,305839.579652,272035.156099,339644.003204,fiable
...,...,...,...,...,...,...,...
206,NaN,2021,Región de Magallanes,844329.384339,758576.486386,930082.282291,fiable
207,NaN,Fuente: Instituto Nacional de Estadística (INE).,NaN,NaN,NaN,NaN,NaN
208,NaN,Nota 1: Los tabulados incluyen los criterios d...,NaN,NaN,NaN,NaN,NaN
209,NaN,Estándar para la evaluación de la calidad de l...,NaN,NaN,NaN,NaN,NaN
210,NaN,Nota 2: Intervalo de confianza del ingreso de ...,NaN,NaN,NaN,NaN,NaN

In [4]:
ingreso = ingreso_promedio.iloc[0:207]

In [5]:
ingreso.drop("Unnamed: 0",axis=1, inplace = True)

C:\Users\snmar\AppData\Local\Temp\ipykernel_4652\1954845268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ingreso.drop("Unnamed: 0",axis=1, inplace = True)

In [6]:
ingreso = ingreso[2:]

In [7]:
ingreso.rename(columns={"Unnamed: 1":"agno","Unnamed: 2":"region","Unnamed: 3":"ingre_medio","Unnamed: 4":"inter_inf","Unnamed: 5":"inter_sup","Unnamed: 6":"calidad"}, inplace = True)

In [8]:
ingreso.drop(2, axis=0, inplace = True)

In [9]:
ingreso[["ingre_medio", "inter_inf", "inter_sup"]] = ingreso[["ingre_medio", "inter_inf", "inter_sup"]].astype(np.float64)
ingreso["region"] = ingreso["region"].replace("Región de Tarapacá", 1)
ingreso["region"] = ingreso["region"].replace("Región de Antofagasta", 2)
ingreso["region"] = ingreso["region"].replace("Región de Atacama", 3)
ingreso["region"] = ingreso["region"].replace("Región de Coquimbo", 4)
ingreso["region"] = ingreso["region"].replace("Región de Valparaíso", 5)
ingreso["region"] = ingreso["region"].replace("Región de O’Higgins", 6)
ingreso["region"] = ingreso["region"].replace("Región del Maule", 7)
ingreso["region"] = ingreso["region"].replace("Región del Biobío", 8)
ingreso["region"] = ingreso["region"].replace("Región de La Araucanía", 9)
ingreso["region"] = ingreso["region"].replace("Región de Los Lagos", 10)
ingreso["region"] = ingreso["region"].replace("Región de Aysén", 11)
ingreso["region"] = ingreso["region"].replace("Región de Magallanes", 12)
ingreso["region"] = ingreso["region"].replace("Región Metropolitana", 13)
ingreso["region"] = ingreso["region"].replace("Región de Los Ríos", 14)
ingreso["region"] = ingreso["region"].replace("Región de Arica y Parinacota", 15)
ingreso["region"] = ingreso["region"].replace("Región del Ñuble", 16)
ingreso["region"] = ingreso["region"].replace("Nacional", 0)

ingreso["region"] = ingreso["region"].astype("category")

In [10]:
ingreso

     agno region    ingre_medio      inter_inf      inter_sup calidad
3    2010      0  380807.922800  368092.156432  393523.689167  fiable
4    2010     15  305839.579652  272035.156099  339644.003204  fiable
5    2010      1  410267.985095  350215.609952  470320.360238  fiable
6    2010      2  486966.534433  431495.917697  542437.151170  fiable
7    2010      3  389803.966791  338194.085716  441413.847865  fiable
..    ...    ...            ...            ...            ...     ...
202  2021      9  533857.754275  483901.302182  583814.206369  fiable
203  2021     14  576429.861867  535287.926265  617571.797468  fiable
204  2021     10  552445.318850  521924.978716  582965.658985  fiable
205  2021     11  748997.620512  679694.377460  818300.863563  fiable
206  2021     12  844329.384339  758576.486386  930082.282291  fiable

[204 rows x 6 columns]

In [ ]:
ingreso.to_csv('Ingresos_medios_2010-2021.csv', index=False)