In [1]:
import pandas as pd
import numpy as np

In [2]:
asistentes = pd.read_csv("20210723_Asistentes_de_la_Educacin_ESTAB_2021_20210630_PUBL.csv", sep=";")

In [3]:
asistentes.columns

Index(['AGNO', 'RBD', 'DGV_RBD', 'NOM_RBD', 'COD_REG_RBD', 'NOM_REG_RBD_A',
       'COD_PRO_RBD', 'COD_COM_RBD', 'NOM_COM_RBD', 'COD_DEPROV_RBD',
       'NOM_DEPROV_RBD', 'COD_DEPE', 'COD_DEPE2', 'RURAL_RBD', 'ESTADO_ESTAB',
       'MRUN', 'GEN_ASIS', 'FEC_NAC_ASIS', 'COD_ASIS_ESCOL', 'ID_ESCOL_TITULO',
       'ID_ESCOL_INSTITUCION', 'FEC_TIT', 'DUR_CARRERA', 'ID_ESC_EST_INCOMP',
       'ID_AREA_EST_INCOMP', 'ANO_SERV_SIST', 'FEC_ING_TRAB_ACTUAL',
       'ID_PREVISION', 'ID_LUGAR_DESEMPENO', 'ID_ITC', 'ID_ITC_CORR',
       'HORAS_CONTRATO', 'ID_ESTAMENTO', 'ID_F1', 'ANIOS_F1', 'HORAS_F1',
       'ID_F2', 'ANIOS_F2', 'HORAS_F2', 'ID_CAPACITACION',
       'ANIO_ULT_CAPACITACION', 'NOM_CAPACITACION', 'PERSONAS'],
      dtype='object')

In [4]:
cuenta = asistentes.groupby(by = ["RBD", "NOM_RBD"]).count()

In [5]:
cuenta = cuenta["AGNO"].reset_index()

In [6]:
cuenta.rename(columns={"AGNO":"DOCENTES"}, inplace=True)

In [7]:
cuenta

         RBD                                    NOM_RBD  DOCENTES
0          1                    LICEO POLITECNICO ARICA        42
1          2                  PARVULARIO LAS ESPIGUITAS        26
2          4                  LICEO OCTAVIO PALMA PEREZ        45
3          5                   JOVINA NARANJO FERNANDEZ        51
4          7         L. POLI. ANTONIO VARAS DE LA BARRA        70
...      ...                                        ...       ...
10675  41833                ESCUELA DE LENGUAJE INFANTE         2
10676  41845      COLEGIO BOSTON COLLEGE LAGUNA DEL SOL         5
10677  41846                    CEIA INAPEWMA LA SERENA         2
10678  41859  ESCUELA BASICA COLEGIO TRIGALES DEL MAIPO        12
10679  41888                ESCUELA HOSPITALARIA CHILOE         1

[10680 rows x 3 columns]

In [8]:
cuenta.to_csv('docentes_establecimiento_2021.csv', index=False)

In [11]:
resumen_docente = pd.read_csv("Dotacion_docente_2021.csv", sep=";")

In [12]:
resumen_docente

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,DC_SUP_SOST,HH_SUP_SOST,DC_SUBDIR,HH_SUBDIR,DC_PROF_ENC,HH_PROF_ENC,DC_EDUC_TRAD,HH_EDUC_TRAD,DC_TOT,HH_TOT
0,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,0,0,0,0,0,0,0,0,71,2291
1,2021,2,7,PARVULARIO LAS ESPIGUITAS,15,AYP,151,15101,ARICA,151,...,0,0,0,0,0,0,0,0,16,539
2,2021,3,5,ESC. PEDRO VICENTE GUTIERREZ TORRES,15,AYP,151,15101,ARICA,151,...,0,0,0,0,0,0,0,0,28,1090
3,2021,4,3,LICEO OCTAVIO PALMA PEREZ,15,AYP,151,15101,ARICA,151,...,0,0,0,0,0,0,0,0,64,2546
4,2021,5,1,JOVINA NARANJO FERNANDEZ,15,AYP,151,15101,ARICA,151,...,0,0,0,0,0,0,0,0,70,2629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16474,2021,41881,1,SALA CUNA GABRIELA MISTRAL,2,ANTOF,22,2201,CALAMA,22,...,0,0,0,0,0,0,0,0,0,0
16475,2021,41883,8,SALA CUNA Y JARDIN INFANTIL AMANECER,13,RM,131,13101,SANTIAGO,131,...,0,0,0,0,0,0,0,0,0,0
16476,2021,41884,6,JARDIN INFANTIL MAHAY MONTESSORI,13,RM,131,13115,LO BARNECHEA,133,...,0,0,0,0,0,0,0,0,0,0
16477,2021,41888,9,ESCUELA HOSPITALARIA CHILOE,10,LAGOS,102,10201,CASTRO,102,...,0,0,0,0,0,0,0,0,3,62
16478,2021,41892,7,C.E.I.A. COLEGIO FORJANDO FUTURO,7,MAULE,72,7201,CAUQUENES,74,...,0,0,0,0,0,0,0,0,0,0

In [14]:
resumen_asistentes = pd.read_csv("Resumen_Asistentes_2021.csv", sep=";")

In [15]:
resumen_asistentes

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,N_ADMIN,N_TEC,N_SIN_DATO,JORN_PROF,JORN_PARA,JORN_AUX,JORN_ADMIN,JORN_TEC,JORN_SIN_DATO,TOT_JORN
0,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,0,0,0,413,920,440,0,0,0,1773
1,2021,2,7,PARVULARIO LAS ESPIGUITAS,15,AYP,151,15101,ARICA,151,...,0,0,0,316,484,220,0,0,0,1020
2,2021,3,5,ESC. PEDRO VICENTE GUTIERREZ TORRES,15,AYP,151,15101,ARICA,151,...,0,0,0,0,0,0,0,0,0,0
3,2021,4,3,LICEO OCTAVIO PALMA PEREZ,15,AYP,151,15101,ARICA,151,...,0,6,0,394,612,660,0,248,0,1914
4,2021,5,1,JOVINA NARANJO FERNANDEZ,15,AYP,151,15101,ARICA,151,...,0,0,0,480,1194,403,0,0,0,2077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16475,2021,41881,1,SALA CUNA GABRIELA MISTRAL,2,ANTOF,22,2201,CALAMA,22,...,0,0,0,0,0,0,0,0,0,0
16476,2021,41883,8,SALA CUNA Y JARDIN INFANTIL AMANECER,13,RM,131,13101,SANTIAGO,131,...,0,0,0,0,0,0,0,0,0,0
16477,2021,41884,6,JARDIN INFANTIL MAHAY MONTESSORI,13,RM,131,13115,LO BARNECHEA,133,...,0,0,0,0,0,0,0,0,0,0
16478,2021,41888,9,ESCUELA HOSPITALARIA CHILOE,10,LAGOS,102,10201,CASTRO,102,...,0,0,0,0,44,0,0,0,0,44
16479,2021,41892,7,C.E.I.A. COLEGIO FORJANDO FUTURO,7,MAULE,72,7201,CAUQUENES,74,...,0,0,0,0,0,0,0,0,0,0

In [18]:
resumen_matricula = pd.read_csv("Resumen_Matricula_EE_Oficial_2021.csv", sep=";")

In [20]:
resumen_matricula["MAT_TOTAL"]

0        664
1        170
2        470
3        974
4        818
        ...
16493      0
16494      0
16495      0
16496      0
16497      0
Name: MAT_TOTAL, Length: 16498, dtype: int64

In [21]:
evaluacion = pd.read_csv("20201104_SNED_2020_2021.csv", sep=";")

In [22]:
evaluacion

,RBD,DV_RBD,NOM_RBD,RBD_A1,RBD_A2,COD_DEPE,COD_DEPE2,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,...,SUPERAR,INICIAR,MEJORAR,INTEGRAR,IGUALDR,CLUSTER,INDICER,SEL2020_25,SEL2020_35,SEL
0,1,9,LICEO POLITECNICO ARICA,,,6,5,15,151,15101,...,"47,086687",0,100,0,"85,135741",1532,"42,585993",2,2,3
1,2,7,PARVULARIO LAS ESPIGUITAS,,,6,5,15,151,15101,...,"55,224014","90,918182",100,"71,6","96,660815",1512,"62,309953",2,2,3
2,3,5,ESC. PEDRO VICENTE GUTIERREZ TORRES,,,6,5,15,151,15101,...,"57,854875","83,033333",100,"68,133333","83,392098",1541,"55,98678",2,2,3
3,4,3,LICEO OCTAVIO PALMA PEREZ,,,6,5,15,151,15101,...,"54,284818","85,94",100,92,"94,777983",1532,"65,150122",2,2,3
4,5,1,JOVINA NARANJO FERNANDEZ,,,6,5,15,151,15101,...,"53,757389","96,4",100,"78,166667","94,336781",1532,"65,513915",2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10775,41132,9,SALA CUNA Y JARDIN INFANTIL RAYÜN,,,3,2,4,41,4102,...,"54,981025",0,100,0,"92,875155",411,"52,645222",2,2,3
10776,41135,3,COLEGIO INSTITUTO DE CIENCIAS Y TECNOLOGÍA TAL...,,,3,2,13,136,13601,...,"54,158699",0,100,0,"92,875155",1332,"54,690264",2,2,3
10777,41173,6,CEIA LIBRE SER MISTRALIANO,,,3,2,4,41,4105,...,"54,838602","50,905",100,66,"93,992402",432,"59,06899",2,2,3
10778,41179,5,ESCUELA ESPECIAL DE LENGUAJE IWOKA,,,3,2,4,43,4301,...,,73,100,"76,533333","92,083506",451,"87,042966",2,2,3
10779,41239,2,JARDIN INFANTIL PEQUEÑOS EXPLORADORES,,,3,2,6,61,6101,...,"54,060147","65,681818",100,"63,25","92,875155",611,"62,267704",2,2,3