In [1]:
from bs4 import BeautifulSoup as bs
import requests as rq
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import geopandas as gpd
import json
from time import sleep
from datetime import date
from os import path

In [2]:
ano = 17
ruta = f'Rendimiento_20{ano}.csv'

In [3]:
df = pd.read_csv(ruta,sep=';')
dic = {}
for i in df.columns:
    dic[i] = i.upper()
df.rename(dic, axis=1, inplace=True)
df = df[['MRUN', 'PROM_GRAL','EDAD_ALU','ASISTENCIA', 'SIT_FIN_R','COD_REG_RBD']]

C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\1845078016.py:1: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta,sep=';')

In [4]:
df[df['MRUN']== 23936601]

             MRUN PROM_GRAL EDAD_ALU  ASISTENCIA SIT_FIN_R  COD_REG_RBD
2992189  23936601       5,4       14          97         P           13

In [5]:
while ano < 20:
    ano += 1
    ruta = f'Rendimiento_20{ano}.csv'
    df_2 = pd.read_csv(ruta, sep=';')
    dic = {}
    for i in df_2.columns:
        dic[i] = i.upper()
    df_2.rename(dic, axis=1, inplace=True)
    df_2 = df_2[['MRUN', 'PROM_GRAL','EDAD_ALU','ASISTENCIA', 'SIT_FIN_R','COD_REG_RBD']]
    df = df.merge(df_2,how='inner', on=['MRUN'], suffixes=[str(ano-1),str(ano)])

C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\663966246.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')
C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\663966246.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')
C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\663966246.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')

In [6]:
df

,MRUN,PROM_GRAL17,EDAD_ALU17,ASISTENCIA17,SIT_FIN_R17,COD_REG_RBD17,PROM_GRAL18,EDAD_ALU18,ASISTENCIA18,SIT_FIN_R18,...,PROM_GRAL19,EDAD_ALU19,ASISTENCIA19,SIT_FIN_R19,COD_REG_RBD19,PROM_GRAL20,EDAD_ALU20,ASISTENCIA20,SIT_FIN_R20,COD_REG_RBD20
0,17606725,0,49,0,T,15,0,50,0,T,...,0,51,0,T,15,0,52,0,T,15
1,17606725,0,49,0,T,15,0,50,0,T,...,0,51,0,T,15,"5,3",52,100,P,15
2,17606725,0,49,0,T,15,0,50,0,T,...,"2,6",51,50,R,15,0,52,0,T,15
3,17606725,0,49,0,T,15,0,50,0,T,...,"2,6",51,50,R,15,"5,3",52,100,P,15
4,17606725,0,49,0,T,15,0,50,0,T,...,0,51,0,T,15,0,52,0,T,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2834926,21581850,6,13,99,P,10,"4,8",14,98,P,...,"5,2",15,99,P,10,"5,4",16,99,P,10
2834927,22239106,"6,6",13,98,P,10,"5,9",14,100,P,...,"5,7",15,99,P,10,"5,9",16,100,P,10
2834928,22242268,5,13,97,P,10,"4,6",14,87,P,...,"4,9",15,93,P,10,"5,9",16,100,P,10
2834929,22773779,"4,5",13,96,P,10,"4,7",14,86,P,...,"4,5",15,85,R,10,"6,4",16,100,P,10
2834930,24829692,"4,7",14,87,P,10,"5,4",15,79,P,...,"5,1",16,75,P,10,6,17,90,P,10

In [7]:
df.columns

Index(['MRUN', 'PROM_GRAL17', 'EDAD_ALU17', 'ASISTENCIA17', 'SIT_FIN_R17',
       'COD_REG_RBD17', 'PROM_GRAL18', 'EDAD_ALU18', 'ASISTENCIA18',
       'SIT_FIN_R18', 'COD_REG_RBD18', 'PROM_GRAL19', 'EDAD_ALU19',
       'ASISTENCIA19', 'SIT_FIN_R19', 'COD_REG_RBD19', 'PROM_GRAL20',
       'EDAD_ALU20', 'ASISTENCIA20', 'SIT_FIN_R20', 'COD_REG_RBD20'],
      dtype='object')

In [8]:
df[df['MRUN']== 23936601]

,MRUN,PROM_GRAL17,EDAD_ALU17,ASISTENCIA17,SIT_FIN_R17,COD_REG_RBD17,PROM_GRAL18,EDAD_ALU18,ASISTENCIA18,SIT_FIN_R18,...,PROM_GRAL19,EDAD_ALU19,ASISTENCIA19,SIT_FIN_R19,COD_REG_RBD19,PROM_GRAL20,EDAD_ALU20,ASISTENCIA20,SIT_FIN_R20,COD_REG_RBD20
2657722,23936601,"5,4",14,97,P,13,"6,4",15,91,P,...,"6,1",16,93,P,13,"6,8",17,84,P,13

In [10]:
# df['EDAD_ALU16'] = df['EDAD_ALU16'].astype('category')

In [ ]:
df[['EDAD_ALU16', 'PROM_GRAL16', 'PROM_GRAL17', 'PROM_GRAL18', 'PROM_GRAL19', 'PROM_GRAL20', 'PROM_GRAL21']].groupby('EDAD_ALU16').max()

In [11]:
ano = 16
ruta = f'Rendimiento_20{ano}.csv'

In [12]:
df = pd.read_csv(ruta,sep=';')
dic = {}
for i in df.columns:
    dic[i] = i.upper()
df.rename(dic, axis=1, inplace=True)
df = df[['AGNO', 'RBD', 'NOM_RBD', 'COD_REG_RBD', 'MRUN', 'PROM_GRAL', 'ASISTENCIA', 'SIT_FIN_R']]

C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\2947204044.py:1: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta,sep=';')

In [13]:
while ano < 21:
    ano += 1
    ruta = f'Rendimiento_20{ano}.csv'
    df_2 = pd.read_csv(ruta, sep=';')
    dic = {}
    for i in df_2.columns:
        dic[i] = i.upper()
    df_2.rename(dic, axis=1, inplace=True)
    df_2 = df_2[['AGNO', 'RBD', 'NOM_RBD', 'COD_REG_RBD', 'MRUN', 'PROM_GRAL', 'ASISTENCIA', 'SIT_FIN_R']]
    df = df.merge(df_2,how='outer', on=['MRUN'], suffixes=[str(ano-1),str(ano)])

C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\3180616458.py:4: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')
C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\3180616458.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')
C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\3180616458.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')
C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\3180616458.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')
C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\3180616458.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')

In [14]:
df

,AGNO16,RBD16,NOM_RBD16,COD_REG_RBD16,MRUN,PROM_GRAL16,ASISTENCIA16,SIT_FIN_R16,AGNO17,RBD17,...,PROM_GRAL20,ASISTENCIA20,SIT_FIN_R20,AGNO21,RBD21,NOM_RBD21,COD_REG_RBD21,PROM_GRAL21,ASISTENCIA21,SIT_FIN_R21
0,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,1513607,0,0.0,Y,NaN,NaN,...,NaN,NaN,NaN,2021.0,12750.0,LICEO DE ADULTOS JUNIOR COLLEGE,15.0,"5,8",100.0,P
1,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,5392731,0,0.0,T,2017.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,5392731,"4,8",93.0,P,2017.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,10076862,"6,1",85.0,P,2017.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,11119459,0,0.0,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6666776,NaN,NaN,NaN,NaN,5088862,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,41917.0,ESCUELA HOSPITALARIA SAN FRANCISCO,5.0,0,0.0,T
6666777,NaN,NaN,NaN,NaN,5088862,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,41947.0,ESCUELA HOSPITALARIA SAN CAMILO,5.0,"6,6",100.0,P
6666778,NaN,NaN,NaN,NaN,17899098,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,41955.0,ESCUELA HOSPITALARIA LOS ÁNGELES,8.0,7,100.0,P
6666779,NaN,NaN,NaN,NaN,16621128,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,41955.0,ESCUELA HOSPITALARIA LOS ÁNGELES,8.0,"6,4",100.0,P
6666780,NaN,NaN,NaN,NaN,19559102,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,41955.0,ESCUELA HOSPITALARIA LOS ÁNGELES,8.0,0,0.0,Y

In [15]:
df.columns

Index(['AGNO16', 'RBD16', 'NOM_RBD16', 'COD_REG_RBD16', 'MRUN', 'PROM_GRAL16',
       'ASISTENCIA16', 'SIT_FIN_R16', 'AGNO17', 'RBD17', 'NOM_RBD17',
       'COD_REG_RBD17', 'PROM_GRAL17', 'ASISTENCIA17', 'SIT_FIN_R17', 'AGNO18',
       'RBD18', 'NOM_RBD18', 'COD_REG_RBD18', 'PROM_GRAL18', 'ASISTENCIA18',
       'SIT_FIN_R18', 'AGNO19', 'RBD19', 'NOM_RBD19', 'COD_REG_RBD19',
       'PROM_GRAL19', 'ASISTENCIA19', 'SIT_FIN_R19', 'AGNO20', 'RBD20',
       'NOM_RBD20', 'COD_REG_RBD20', 'PROM_GRAL20', 'ASISTENCIA20',
       'SIT_FIN_R20', 'AGNO21', 'RBD21', 'NOM_RBD21', 'COD_REG_RBD21',
       'PROM_GRAL21', 'ASISTENCIA21', 'SIT_FIN_R21'],
      dtype='object')

In [16]:
sup = pd.read_csv('Superior_2021.csv', sep=';')
dic = {}
for i in sup.columns:
    dic[i] = i.upper()
sup.rename(dic, axis=1, inplace=True)

In [17]:
df.merge(sup, how='inner', on= ['MRUN'])

,AGNO16,RBD16,NOM_RBD16,COD_REG_RBD16,MRUN,PROM_GRAL16,ASISTENCIA16,SIT_FIN_R16,AGNO17,RBD17,...,AREA_CARRERA_GENERICA,CINE_F_13_AREA,CINE_F_13_SUBAREA,ACREDITADA_CARR,ACREDITADA_INST,ACRE_INST_DESDE_HASTA,ACRE_INST_ANIO,COSTO_PROCESO_TITULACION,COSTO_OBTENCION_TITULO_DIPLOMA,FORMA_INGRESO
0,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,13310516,0,0.0,T,NaN,NaN,...,Derecho,Administración de Empresas y Derecho,Derecho,NO ACREDITADA,NO ACREDITADA,NaN,NaN,NaN,NaN,1- Ingreso Directo (regular)
1,2016.0,12750.0,LICEO DE ADULTOS JUNIOR COLLEGE,15.0,13310516,"6,3",97.0,P,NaN,NaN,...,Derecho,Administración de Empresas y Derecho,Derecho,NO ACREDITADA,NO ACREDITADA,NaN,NaN,NaN,NaN,1- Ingreso Directo (regular)
2,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,17338548,0,0.0,Y,2017.0,12750.0,...,Construcción Civil,"Ingeniería, Industria y Construcción",Arquitectura y Construcción,SIN INFORMACIÓN,ACREDITADA,11/12/2016 AL 11/12/2022,6.0,NaN,NaN,4 : Cambio externo
3,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,649748,"5,1",87.0,P,NaN,NaN,...,Ingeniería Comercial,Administración de Empresas y Derecho,Educación Comercial y Administración,NO ACREDITADA,ACREDITADA,24/12/2017 AL 24/12/2022,5.0,NaN,NaN,1- Ingreso Directo (regular)
4,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,1073085,0,0.0,Y,2017.0,1.0,...,Técnico en Servicio Social,Salud y Bienestar,Bienestar,NO ACREDITADA,NO ACREDITADA,NaN,NaN,NaN,NaN,4 : Cambio externo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773043,NaN,NaN,NaN,NaN,10069096,NaN,NaN,NaN,NaN,NaN,...,Postítulo en Administración y Comercio,Administración de Empresas y Derecho,Educación Comercial y Administración,NO ACREDITADA,ACREDITADA,01/12/2018 AL 01/12/2025,7.0,NaN,NaN,1- Ingreso Directo (regular)
773044,NaN,NaN,NaN,NaN,24533596,NaN,NaN,NaN,NaN,NaN,...,Técnico en Comercio Exterior,Administración de Empresas y Derecho,Educación Comercial y Administración,NO ACREDITADA,ACREDITADA,13/12/2017 AL 13/13/2020,3.0,NaN,NaN,1- Ingreso Directo (regular)
773045,NaN,NaN,NaN,NaN,20018853,NaN,NaN,NaN,NaN,NaN,...,Traducción e Interpretación,Artes y Humanidades,Idiomas,NO ACREDITADA,ACREDITADA,08/01/2020 AL 08/01/2023,3.0,NaN,NaN,1- Ingreso Directo (regular)
773046,NaN,NaN,NaN,NaN,17414558,NaN,NaN,NaN,NaN,NaN,...,Derecho,Administración de Empresas y Derecho,Derecho,NO ACREDITADA,ACREDITADA,15/12/2016 AL 15/12/2021,5.0,NaN,NaN,1- Ingreso Directo (regular)
773047,NaN,NaN,NaN,NaN,16751246,NaN,NaN,NaN,NaN,NaN,...,Contador Auditor,Administración de Empresas y Derecho,Educación Comercial y Administración,NO ACREDITADA,ACREDITADA,24/12/2017 AL 24/12/2022,5.0,NaN,NaN,9- Ingreso por características especiales

In [20]:
ano = 16
while ano < 21:
    ruta = f'Rendimiento_20{ano}.csv'
    df_2 = pd.read_csv(ruta, sep=';')
    dic = {}
    for i in df_2.columns:
        dic[i] = i.upper()
    df_2.rename(dic, axis=1, inplace=True)
    df_2 = df_2[['AGNO', 'RBD', 'NOM_RBD', 'COD_REG_RBD', 'MRUN', 'PROM_GRAL', 'ASISTENCIA', 'SIT_FIN_R']]
    df_2.to_csv(f'promedios_20{ano}',index=False)
    ano += 1

C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\1340385327.py:4: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')
C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\1340385327.py:4: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')
C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\1340385327.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')
C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\1340385327.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')
C:\Users\bsant\AppData\Local\Temp\ipykernel_23248\1340385327.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')

In [21]:
pd.read_csv('promedios_2017')

,AGNO,RBD,NOM_RBD,COD_REG_RBD,MRUN,PROM_GRAL,ASISTENCIA,SIT_FIN_R
0,2017,1,LICEO POLITECNICO ARICA,15,708275,0,0,Y
1,2017,1,LICEO POLITECNICO ARICA,15,4213631,0,0,T
2,2017,1,LICEO POLITECNICO ARICA,15,5111225,0,0,Y
3,2017,1,LICEO POLITECNICO ARICA,15,6103241,6,85,P
4,2017,1,LICEO POLITECNICO ARICA,15,7828101,"6,1",100,P
...,...,...,...,...,...,...,...,...
3246819,2017,40459,CENTRO EDUCACIONAL ALBORADA,10,22239106,"6,6",98,P
3246820,2017,40459,CENTRO EDUCACIONAL ALBORADA,10,22242268,5,97,P
3246821,2017,40459,CENTRO EDUCACIONAL ALBORADA,10,22773779,"4,5",96,P
3246822,2017,40459,CENTRO EDUCACIONAL ALBORADA,10,23303041,"5,1",77,P
3246823,2017,40459,CENTRO EDUCACIONAL ALBORADA,10,24829692,"4,7",87,P

In [26]:
pd.read_excel("Reliquidación FICOM 2021.xlsx")

,CodigoRegion,CodigoProvincia,CodigoComuna,NombreComuna,RBD,NombreRBD,periodo,ing_efectivo,prom_mensual,asis_prom,cobro_promedio,valor_use,en_use,tramo
0,1,11,1101,IQUIQUE,127,LICEO MARIA AUXILIADORA,2021,297244483,2.477037e+07,842.643058,29396.045383,28497.202,1.195930,3
1,1,11,1101,IQUIQUE,129,LICEO SUPERIOR GABRIELA MISTRAL,2021,8582890,7.152408e+05,221.301042,3231.981324,28497.202,0.131487,1
2,1,11,1101,IQUIQUE,130,COLEGIO NORTH COLLEGE,2021,150060817,1.250507e+07,348.332950,35899.756492,28497.202,1.460523,3
3,1,11,1101,IQUIQUE,132,COLEGIO BAJO MOLLE,2021,1572713650,1.310595e+08,1720.498817,76175.275199,28497.202,3.099068,4
4,1,11,1101,IQUIQUE,144,COLEGIO IQUIQUE YOUNG SCHOOL,2021,34214142,2.851178e+06,320.208533,8904.130289,28497.202,0.362250,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,16,161,16101,CHILLAN,17903,SEBASTIAN SCHOOL,2021,292272323,2.435603e+07,971.556717,25069.073684,28497.202,1.019894,2
788,16,161,16101,CHILLAN,17907,COLEGIO CREACIÓN CHILLÁN,2021,262812691,2.190106e+07,591.534208,37024.160693,28497.202,1.506268,3
789,16,162,16203,COELEMU,18124,COLEGIO SANTA TERESITA,2021,123622112,1.030184e+07,440.784167,23371.625950,28497.202,0.950836,2
790,16,161,16102,BULNES,18216,COLEGIO AMANECER,2021,1488058,1.240048e+05,389.087967,318.706421,28497.202,0.012966,1
791,16,161,16101,CHILLAN,18251,COLEGIO ALTURAS DE CHILLÁN,2021,278795144,2.323293e+07,477.001833,48706.162209,28497.202,1.981531,3