In [1]:
from bs4 import BeautifulSoup as bs
import requests as rq
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import geopandas as gpd
import json
from time import sleep
from datetime import date
from os import path

In [55]:
ano = 16
ruta = f'Rendimiento_20{ano}.csv'

In [56]:
df = pd.read_csv(ruta,sep=';')
dic = {}
for i in df.columns:
    dic[i] = i.upper()
df.rename(dic, axis=1, inplace=True)
df = df[['MRUN', 'PROM_GRAL','EDAD_ALU','ASISTENCIA', 'SIT_FIN_R','COD_REG_RBD']]

C:\Users\bsant\AppData\Local\Temp\ipykernel_28588\1845078016.py:1: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta,sep=';')

In [57]:
while ano < 21:
    ano += 1
    ruta = f'Rendimiento_20{ano}.csv'
    df_2 = pd.read_csv(ruta, sep=';')
    dic = {}
    for i in df_2.columns:
        dic[i] = i.upper()
    df_2.rename(dic, axis=1, inplace=True)
    df_2 = df_2[['MRUN', 'PROM_GRAL','EDAD_ALU','ASISTENCIA', 'SIT_FIN_R','COD_REG_RBD']]
    df = df.merge(df_2,how='inner', on=['MRUN'], suffixes=[str(ano-1),str(ano)])

C:\Users\bsant\AppData\Local\Temp\ipykernel_28588\4025016234.py:4: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')
C:\Users\bsant\AppData\Local\Temp\ipykernel_28588\4025016234.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')
C:\Users\bsant\AppData\Local\Temp\ipykernel_28588\4025016234.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')
C:\Users\bsant\AppData\Local\Temp\ipykernel_28588\4025016234.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')
C:\Users\bsant\AppData\Local\Temp\ipykernel_28588\4025016234.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')

In [58]:
df

,MRUN,PROM_GRAL16,EDAD_ALU16,ASISTENCIA16,SIT_FIN_R16,COD_REG_RBD16,PROM_GRAL17,EDAD_ALU17,ASISTENCIA17,SIT_FIN_R17,...,PROM_GRAL20,EDAD_ALU20,ASISTENCIA20,SIT_FIN_R20,COD_REG_RBD20,PROM_GRAL21,EDAD_ALU21,ASISTENCIA21,SIT_FIN_R21,COD_REG_RBD21
0,6673480,"4,9",15,90,P,15,4,16,55,R,...,4,19,85,P,15,"4,7",20,85,P,15
1,6975252,0,15,0,Y,15,2,16,40,R,...,2,19,70,R,15,"4,5",20,85,P,15
2,6975252,0,15,0,Y,15,2,16,40,R,...,2,19,70,R,15,"4,5",20,85,P,15
3,6975252,0,15,0,T,15,2,16,40,R,...,2,19,70,R,15,"4,5",20,85,P,15
4,6975252,0,15,0,T,15,2,16,40,R,...,2,19,70,R,15,"4,5",20,85,P,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2945777,16600066,"5,8",13,99,P,10,"4,6",14,91,R,...,6,17,100,P,10,"5,5",18,100,P,10
2945778,16978972,"4,9",14,98,P,10,0,15,0,Y,...,"5,8",18,90,P,10,0,19,0,Y,10
2945779,20111589,"4,3",14,98,R,10,"5,2",15,97,P,...,"4,7",18,100,P,10,"2,4",19,4,R,10
2945780,21700937,"4,7",14,94,P,10,"4,2",15,85,R,...,"5,3",18,85,P,10,0,19,0,Y,10
2945781,23159755,"5,2",13,94,P,10,"3,4",14,92,R,...,"4,5",17,96,P,10,"5,4",18,75,P,10

In [59]:
df.columns

Index(['MRUN', 'PROM_GRAL16', 'EDAD_ALU16', 'ASISTENCIA16', 'SIT_FIN_R16',
       'COD_REG_RBD16', 'PROM_GRAL17', 'EDAD_ALU17', 'ASISTENCIA17',
       'SIT_FIN_R17', 'COD_REG_RBD17', 'PROM_GRAL18', 'EDAD_ALU18',
       'ASISTENCIA18', 'SIT_FIN_R18', 'COD_REG_RBD18', 'PROM_GRAL19',
       'EDAD_ALU19', 'ASISTENCIA19', 'SIT_FIN_R19', 'COD_REG_RBD19',
       'PROM_GRAL20', 'EDAD_ALU20', 'ASISTENCIA20', 'SIT_FIN_R20',
       'COD_REG_RBD20', 'PROM_GRAL21', 'EDAD_ALU21', 'ASISTENCIA21',
       'SIT_FIN_R21', 'COD_REG_RBD21'],
      dtype='object')

In [63]:
df['EDAD_ALU16'] = df['EDAD_ALU16'].astype('category')

<class 'pandas.core.series.Series'>
Int64Index: 2945782 entries, 0 to 2945781
Series name: EDAD_ALU16
Non-Null Count    Dtype
--------------    -----
2945782 non-null  category
dtypes: category(1)
memory usage: 28.1 MB

In [62]:
df[['EDAD_ALU16', 'PROM_GRAL16', 'PROM_GRAL17', 'PROM_GRAL18', 'PROM_GRAL19', 'PROM_GRAL20', 'PROM_GRAL21']].groupby('EDAD_ALU16').max()

,PROM_GRAL16,PROM_GRAL17,PROM_GRAL18,PROM_GRAL19,PROM_GRAL20,PROM_GRAL21
EDAD_ALU16,,,,,,
5,"6,9",7,"6,9",7,7,"6,9"
6,7,7,7,7,7,7
7,7,7,7,7,7,7
8,7,7,7,7,7,7
9,7,7,7,7,7,7
...,...,...,...,...,...,...
69,"4,2","5,1","5,5","5,1","5,3","6,1"
7,7,7,7,7,7,7
71,"3,4","4,2",0,"4,2",5,6
8,7,7,7,7,7,7
9,7,7,7,7,7,7

In [43]:
ano = 16
ruta = f'Rendimiento_20{ano}.csv'

In [44]:
df = pd.read_csv(ruta,sep=';')
dic = {}
for i in df.columns:
    dic[i] = i.upper()
df.rename(dic, axis=1, inplace=True)
df = df[['AGNO', 'RBD', 'NOM_RBD', 'COD_REG_RBD', 'MRUN', 'PROM_GRAL', 'ASISTENCIA', 'SIT_FIN_R']]

C:\Users\bsant\AppData\Local\Temp\ipykernel_28588\2947204044.py:1: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta,sep=';')

In [45]:
while ano < 21:
    ano += 1
    ruta = f'Rendimiento_20{ano}.csv'
    df_2 = pd.read_csv(ruta, sep=';')
    print(ruta)
    dic = {}
    for i in df_2.columns:
        dic[i] = i.upper()
    df_2.rename(dic, axis=1, inplace=True)
    df_2 = df_2[['AGNO', 'RBD', 'NOM_RBD', 'COD_REG_RBD', 'MRUN', 'PROM_GRAL', 'ASISTENCIA', 'SIT_FIN_R']]
    df = df.merge(df_2,how='outer', on=['MRUN'], suffixes=[str(ano-1),str(ano)])

C:\Users\bsant\AppData\Local\Temp\ipykernel_28588\3165852427.py:4: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')

Rendimiento_2017.csv

C:\Users\bsant\AppData\Local\Temp\ipykernel_28588\3165852427.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')

Rendimiento_2018.csv

C:\Users\bsant\AppData\Local\Temp\ipykernel_28588\3165852427.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')

Rendimiento_2019.csv

C:\Users\bsant\AppData\Local\Temp\ipykernel_28588\3165852427.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')

Rendimiento_2020.csv

C:\Users\bsant\AppData\Local\Temp\ipykernel_28588\3165852427.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2 = pd.read_csv(ruta, sep=';')

Rendimiento_2021.csv

In [46]:
df

,AGNO16,RBD16,NOM_RBD16,COD_REG_RBD16,MRUN,PROM_GRAL16,ASISTENCIA16,SIT_FIN_R16,AGNO17,RBD17,...,PROM_GRAL20,ASISTENCIA20,SIT_FIN_R20,AGNO21,RBD21,NOM_RBD21,COD_REG_RBD21,PROM_GRAL21,ASISTENCIA21,SIT_FIN_R21
0,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,1513607,0,0.0,Y,NaN,NaN,...,NaN,NaN,NaN,2021.0,12750.0,LICEO DE ADULTOS JUNIOR COLLEGE,15.0,"5,8",100.0,P
1,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,5392731,0,0.0,T,2017.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,5392731,"4,8",93.0,P,2017.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,10076862,"6,1",85.0,P,2017.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,11119459,0,0.0,Y,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6666776,NaN,NaN,NaN,NaN,5088862,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,41917.0,ESCUELA HOSPITALARIA SAN FRANCISCO,5.0,0,0.0,T
6666777,NaN,NaN,NaN,NaN,5088862,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,41947.0,ESCUELA HOSPITALARIA SAN CAMILO,5.0,"6,6",100.0,P
6666778,NaN,NaN,NaN,NaN,17899098,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,41955.0,ESCUELA HOSPITALARIA LOS ÁNGELES,8.0,7,100.0,P
6666779,NaN,NaN,NaN,NaN,16621128,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,41955.0,ESCUELA HOSPITALARIA LOS ÁNGELES,8.0,"6,4",100.0,P
6666780,NaN,NaN,NaN,NaN,19559102,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021.0,41955.0,ESCUELA HOSPITALARIA LOS ÁNGELES,8.0,0,0.0,Y

In [47]:
df.columns

Index(['AGNO16', 'RBD16', 'NOM_RBD16', 'COD_REG_RBD16', 'MRUN', 'PROM_GRAL16',
       'ASISTENCIA16', 'SIT_FIN_R16', 'AGNO17', 'RBD17', 'NOM_RBD17',
       'COD_REG_RBD17', 'PROM_GRAL17', 'ASISTENCIA17', 'SIT_FIN_R17', 'AGNO18',
       'RBD18', 'NOM_RBD18', 'COD_REG_RBD18', 'PROM_GRAL18', 'ASISTENCIA18',
       'SIT_FIN_R18', 'AGNO19', 'RBD19', 'NOM_RBD19', 'COD_REG_RBD19',
       'PROM_GRAL19', 'ASISTENCIA19', 'SIT_FIN_R19', 'AGNO20', 'RBD20',
       'NOM_RBD20', 'COD_REG_RBD20', 'PROM_GRAL20', 'ASISTENCIA20',
       'SIT_FIN_R20', 'AGNO21', 'RBD21', 'NOM_RBD21', 'COD_REG_RBD21',
       'PROM_GRAL21', 'ASISTENCIA21', 'SIT_FIN_R21'],
      dtype='object')

In [50]:
sup = pd.read_csv('Superior_2021.csv', sep=';')
dic = {}
for i in sup.columns:
    dic[i] = i.upper()
sup.rename(dic, axis=1, inplace=True)

In [51]:
df.merge(sup, how='inner', on= ['MRUN'])

,AGNO16,RBD16,NOM_RBD16,COD_REG_RBD16,MRUN,PROM_GRAL16,ASISTENCIA16,SIT_FIN_R16,AGNO17,RBD17,...,AREA_CARRERA_GENERICA,CINE_F_13_AREA,CINE_F_13_SUBAREA,ACREDITADA_CARR,ACREDITADA_INST,ACRE_INST_DESDE_HASTA,ACRE_INST_ANIO,COSTO_PROCESO_TITULACION,COSTO_OBTENCION_TITULO_DIPLOMA,FORMA_INGRESO
0,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,13310516,0,0.0,T,NaN,NaN,...,Derecho,Administración de Empresas y Derecho,Derecho,NO ACREDITADA,NO ACREDITADA,NaN,NaN,NaN,NaN,1- Ingreso Directo (regular)
1,2016.0,12750.0,LICEO DE ADULTOS JUNIOR COLLEGE,15.0,13310516,"6,3",97.0,P,NaN,NaN,...,Derecho,Administración de Empresas y Derecho,Derecho,NO ACREDITADA,NO ACREDITADA,NaN,NaN,NaN,NaN,1- Ingreso Directo (regular)
2,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,17338548,0,0.0,Y,2017.0,12750.0,...,Construcción Civil,"Ingeniería, Industria y Construcción",Arquitectura y Construcción,SIN INFORMACIÓN,ACREDITADA,11/12/2016 AL 11/12/2022,6.0,NaN,NaN,4 : Cambio externo
3,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,649748,"5,1",87.0,P,NaN,NaN,...,Ingeniería Comercial,Administración de Empresas y Derecho,Educación Comercial y Administración,NO ACREDITADA,ACREDITADA,24/12/2017 AL 24/12/2022,5.0,NaN,NaN,1- Ingreso Directo (regular)
4,2016.0,1.0,LICEO POLITECNICO ARICA,15.0,1073085,0,0.0,Y,2017.0,1.0,...,Técnico en Servicio Social,Salud y Bienestar,Bienestar,NO ACREDITADA,NO ACREDITADA,NaN,NaN,NaN,NaN,4 : Cambio externo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773043,NaN,NaN,NaN,NaN,10069096,NaN,NaN,NaN,NaN,NaN,...,Postítulo en Administración y Comercio,Administración de Empresas y Derecho,Educación Comercial y Administración,NO ACREDITADA,ACREDITADA,01/12/2018 AL 01/12/2025,7.0,NaN,NaN,1- Ingreso Directo (regular)
773044,NaN,NaN,NaN,NaN,24533596,NaN,NaN,NaN,NaN,NaN,...,Técnico en Comercio Exterior,Administración de Empresas y Derecho,Educación Comercial y Administración,NO ACREDITADA,ACREDITADA,13/12/2017 AL 13/13/2020,3.0,NaN,NaN,1- Ingreso Directo (regular)
773045,NaN,NaN,NaN,NaN,20018853,NaN,NaN,NaN,NaN,NaN,...,Traducción e Interpretación,Artes y Humanidades,Idiomas,NO ACREDITADA,ACREDITADA,08/01/2020 AL 08/01/2023,3.0,NaN,NaN,1- Ingreso Directo (regular)
773046,NaN,NaN,NaN,NaN,17414558,NaN,NaN,NaN,NaN,NaN,...,Derecho,Administración de Empresas y Derecho,Derecho,NO ACREDITADA,ACREDITADA,15/12/2016 AL 15/12/2021,5.0,NaN,NaN,1- Ingreso Directo (regular)
773047,NaN,NaN,NaN,NaN,16751246,NaN,NaN,NaN,NaN,NaN,...,Contador Auditor,Administración de Empresas y Derecho,Educación Comercial y Administración,NO ACREDITADA,ACREDITADA,24/12/2017 AL 24/12/2022,5.0,NaN,NaN,9- Ingreso por características especiales